/* font generator - http://www.fontsquirrel.com/tools/webfont-generator*/
/*border: solid 1px black;*/

/*********************GENERALNE DEFINICIJE********************************************/
/*Globalni reset svih default stilova za svaki browser*/
*{
	margin: 0;
	padding: 0;
	outline:none;
} 
/*Tipografija na razini cijelog dokumenta*/
html {
	font-family: 'open_sansregular';
	font: 10px ; /* 10px kao baza da za lakse racunanje ostalih velicina */
}
body {	    
    /*-webkit-font-smoothing: antialiased;*/
	font-size: 0.9em; /* 1.4 * 10px = 14px. em umjesto zbog boljeg zooma u browseru */
	line-height: 1.5em; 
	color: #1e1d1c; 
	background: #fef6ec; 
	overflow: auto; /* 'hidden' -> nema scrolla */
	position: relative; /*relative tako da mogu header fiksirati na vrh */
}
a { 
	text-decoration: none;	
	/*a:link je identicno kao i samo a, a:link ne treba */
}
a:hover {	
}
a:active{	
}

.button{
	display: block; /* Uvijek display:block, onda je klikabilna povrsina dobra */
	padding: 10px 20px;
	
	color: #965310;
	font-weight: bold;
	text-transform: uppercase; /* izbjegavati CAPS u html */
	text-shadow:1px 1px 0px #fbb977;	

	-moz-box-shadow: 0px 0px 0px 0px #c97824;
	-webkit-box-shadow: 0px 0px 0px 0px #c97824;
	box-shadow: 0px 1px 0px 0px #c97824;

	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #f9ad5f 0%, #ee9a43 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f9ad5f), color-stop(100%,#ee9a43)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee9a43',GradientType=0 ); /* IE6-9 */
	
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
		
}

.button:hover {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #f9ad5f 0%, #ee9a43 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f9ad5f), color-stop(100%,#ee9a43)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee9a43',GradientType=0 ); /* IE6-9 */		

	color:#fffcf8;	
}


/*********************SPECIFIČNE DEFINICIJE********************************************/
.wrap {
	margin: 0 auto;
	padding: 0;
	width: 1100px; /* Ovo je defaultna širina stranice, mogu ju prilagodjavat sa mediea queryem (ako zelim responsive) */
	position: relative;
	-moz-box-shadow:0px 1px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.2);
	box-shadow:0px 1px 5px rgba(0,0,0,0.2);	
}

.content {
	padding-top: 100px;
}

#main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 9999; /*da sam siguran da je vizualno iznad svih ostalih elemenata */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fffcf8 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fffcf8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fffcf8 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fffcf8 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fffcf8 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fffcf8 100%,#7db9e8 100%); /* W3C */
	-moz-box-shadow:0px 1px 5px rgba(0,0,0,0.2);
	 -webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.2);
	 box-shadow:0px 1px 5px rgba(0,0,0,0.2);
}

#logo {
	position: absolute; /* .wrap u headeru je relativan, pa mogu ovo napraviti  */
	top: 0;
	left: 0;
	display: block;
	width: 193px; /* Sirina logotipa */
	height: 77px; /* Visina logotipa */
	padding: 1px 0 2px 0; /*logo nije na 80px, pa da popunim rupu. brojevi su: gore desno dolje lijevo; */
}

#nav {
	list-style: none;
	float: right;
	margin-top: 20px;
}

#nav li {
	float: left;
	margin-right: 20px;
}

#nav li:last-child {
	margin-right: 0;
}

/*********************ONAMA********************************************/
#o-nama{
	background: #fffcf8;
}
	#o-nama-txt{
		width:490px;
		height:320px;
		margin-left:310px;
		
	}

	#o-nama-txt h1{
		font-family: 'open_sanslight';
		text-align:center;
		color:#65380a;
		line-height: 1.5em;

	}

	#o-nama-txt h2{
		font-family: 'open_sanslight_italic';
		text-align:center;
		color:#836648;
		line-height: 1.5em;

	}

	#o-nama-txt p{
		font-family: 'open_sansregular';
		font-style:italic;
		text-align:center;
		color:#1e1d1c;
		line-height: 1.5em;

	}

/*********************INFORMACIJE********************************************/
#informacije{
	background: #fffcf8;
}

	#savjeti{	
		width:590px;
		height:310px;		
		padding:10px;
		
		background: #fffcf8; /* Old browsers */
		background: -moz-linear-gradient(top,  #fffcf8 0%, #fff4e9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcf8), color-stop(100%,#fff4e9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fffcf8 0%,#fff4e9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf8', endColorstr='#fff4e9',GradientType=0 ); /* IE6-9 */
		/*background-image:url('/../../images/info-bg/cijene.png'); NE RADI MI OVO*/

		float:left;
		margin-left:70px;	
	}


		#savjeti,#cijene h1{
			color:#965410;
			line-height: 1.5em;
		}

		#savjeti p{			
			font-family: 'open_sanslight';
			line-height: 1.5em;
			color:#65380a;
		}

	#cijene{
		width:320px;
		height:310px;
		padding:10px;		

		background: #fffcf8; /* Old browsers */
		background: -moz-linear-gradient(top,  #fffcf8 0%, #fff4e9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcf8), color-stop(100%,#fff4e9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fffcf8 0%,#fff4e9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fffcf8 0%,#fff4e9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf8', endColorstr='#fff4e9',GradientType=0 ); /* IE6-9 */
		/*background-image:url('/../../images/info-bg/cijene.png'); NE RADI MI OVO*/	

		float:left;
		margin-left:50px;
	}
		#cijena h1{
			text-align:center;
			color:#965410;
		}

			#valjenje{
				float:left;
				width:50%;
			}
				#valjenje h3{
					text-align:center;
					text-transform: uppercase;
					color:#965410;
				}
				#valjenje p{
					text-align:center;
					color:#965410;
				}
				#valjenje b{
					color:#402203;
				}

			#pilici{
				float:left;
				width:50%;
			}

				#pilici h3{		
					text-align:center;
					text-transform: uppercase;
					color:#965410;
				}

				#pilici p{
					text-align:center;
					color:#965410;
				}

				#pilici b{
					color:#402203;
				}
	
/*********************REZERVACIJA********************************************/
	
#rezervacija{
	background: #fffcf8;	
}

#rezervacija-pilica{
	width:395px;
	height:460px;
	float:left;
	margin-left:95px;
	margin-top: 20px;		
	padding-right: 35px;
	background: #fffaf5;
		
}
	#rezervacija-pilica .text, #rezervacija-inkubatora .text{
		width:225px;
		height:12px;

		background: #f7f1e8; 
		background: -moz-linear-gradient(top,  #f7f1e8 0%, #f9f7f4 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f1e8), color-stop(100%,#f9f7f4)); 
		background: -webkit-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); 
		background: -o-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); 
		background: -ms-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); 
		background: linear-gradient(to bottom,  #f7f1e8 0%,#f9f7f4 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f1e8', endColorstr='#f9f7f4',GradientType=0 ); 

		border:1px solid #f6f6f6;
		padding:10px;
		margin-top:10px;
		font-size:0.9em;		
		color:#1e1d1c;
	}
	#rezervacija-pilica, #rezervacija-inkubatora p{
		text-align: right;
	}
	#rezervacija-pilica .button-pilici, #rezervacija-inkubatora .button-pilici{
		width:250px;
		margin-top: 10px;
		display: block; 
		padding: 10px 20px;
		border:none;
		float:right;		
		color: #965310;
		font-weight: bold;
		text-transform: uppercase; 
		text-shadow:1px 1px 0px #fbb977;

		-moz-box-shadow: 0px 0px 0px 0px #c97824;
		-webkit-box-shadow: 0px 0px 0px 0px #c97824;
		box-shadow: 0px 1px 0px 0px #c97824;

		background: #1e5799;
		background: -moz-linear-gradient(top,  #1e5799 0%, #f9ad5f 0%, #ee9a43 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f9ad5f), color-stop(100%,#ee9a43)); 
		background: -webkit-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		background: -o-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		background: -ms-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%);
		background: linear-gradient(to bottom,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee9a43',GradientType=0 ); 
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;	
	}
	#rezervacija-pilica .button-pilici:hover, #rezervacija-inkubatora .button-pilici:hover{
		background: #1e5799; 
		background: -moz-linear-gradient(top,  #1e5799 0%, #f9ad5f 0%, #ee9a43 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f9ad5f), color-stop(100%,#ee9a43)); 
		background: -webkit-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		background: -o-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		background: -ms-linear-gradient(top,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		background: linear-gradient(to bottom,  #1e5799 0%,#f9ad5f 0%,#ee9a43 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee9a43',GradientType=0 ); 
		color:#fffcf8;					
	}	


#rezervacija-inkubatora{
	width:395px;
	height:460px;
	float:left;
	margin-left:50px;
	margin-top:20px;	
	padding-right: 35px;
	background: #fffaf5;
}
	#rezervacija-inkubatora h2{
		text-align:center;
	}
	#rez-wrapper{
		width:430px;
		height:155px;
		background: #fffaf5;
				
	}
		#rezervacija-inkubatora .text-sp{
			width:88px;
			height:12px;

			background: #f7f1e8; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7f1e8 0%, #f9f7f4 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f1e8), color-stop(100%,#f9f7f4)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7f1e8 0%,#f9f7f4 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7f1e8 0%,#f9f7f4 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f1e8', endColorstr='#f9f7f4',GradientType=0 ); /* IE6-9 */

			border:1px solid #f6f6f6;
			padding:10px;
			margin-top:10px;
			font-size:0.9em;		
			color:#1e1d1c;
		}
		#rez-kokos, #rez-pura, #rez-bpatka, #rez-fazan{
			width:50%;
			height:50%;			
			float:left;
			padding-top: 2px;
		}
		#rez-wrapper p{
			text-align:center;			
		}

	

/***********************KONTAKT*************************************************/
#kontakt{	
	background: #fffcf8;
}
#kontakt-txt{
	width:490px;
	height:200px;
	margin-left:310px;
	
}
#kontakt-txt p{
	font-family: 'open_sansregular';
	font-style:italic;	
	text-align:center;
	color:#1e1d1c;
	line-height: 1.5em;
}
/***********************GEOLOCATION**********************************************/
#map-canvas{
	width:500px;
	height:400px;	
	margin-left:310px;
	margin-top:20px;	
}
/***********************FOOTER***************************************************/
footer{
	width:1100px;
	height:40px;
	margin-top:20px;
	text-align:center;
	color:#b9b1a6;
}
/***********************SLIDER***************************************************/
#galerija .bg-img-1 {
background-image: url(../../images/1.jpg);
}
#galerija .bg-img-2 {
background-image: url(../../images/2.jpg);
}
#galerija .bg-img-3 {
background-image: url(../../images/3.jpg);
}
#galerija .bg-img-4 {
background-image: url(../../images/4.jpg);
}
#galerija .bg-img-5 {
background-image: url(../../images/5.jpg);
}

.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}


/* Width and height is set dynamically */

.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}*/

/* Default styles for background colors */

.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

.float:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.float{display:block;}
* html .float{height: 1%;}
.float{display:block;}
*:first-child+html .float{min-height:1px;}

/* Responsive **/
/*
@media only screen and (min-width: 480px) {
	.wrap { 
		width: 480px;
	}
}

@media only screen and (min-width: 600px) {
	.wrap { 
		width: 600px;
	}
}

@media only screen and (min-width: 768px) {
	.wrap { 
		width: 768px;
	}
}

@media only screen and (min-width: 992px) {
	.wrap { 
		width: 992px;
	}
}

@media only screen and (min-width: 1280px) {
	.wrap { 
		width: 1280px;
	}
} 

@media only screen and (min-width: 1382px) {
	.wrap { 
		width: 1382px;
	}
}*/ 


